@import "tailwindcss";

@keyframes toast-slide {
  0% {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }

  15% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }

  85% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
}

.toast-animation {
  animation: toast-slide 4s ease-in-out forwards;
}
