@import "tailwindcss";

@keyframes toast-slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  90% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.toast-animation {
  animation: toast-slide 4s ease-in-out forwards;
}